html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 1.2em;
  color: #333;
  padding: 0 20px;
}

h1 {
  background-color: #757575;
  color: #FFF;
  margin: 0 -20px 30px -20px;
  padding: 20px;
  box-shadow: 0px 1px 5px #AAA;
}

.box {
  display: inline-block;
  padding: 30px 60px;
  background-color: #757575;
  color: #FFF;
  border-radius: 6px;
  text-align: center;
  box-shadow: 1px 1px 5px #AAA;
}

.box h2 {
  margin: 0 0 30px 0;
}
